#menu
  .logo Acervo ❤ MakingOff

  #filters
    %p País
    %input{type: 'text', id: 'country'}
    %p Categoria
    %input{type: 'text', id: 'genre'}
    %p Diretor
    %input{type: 'text', id: 'director'}
    %p Filme
    %input{type: 'text', id: 'movie'}

  / #filter-ano
  /   %span Quando
  /   %span#ano
  /   #anos-range

  #meta
    = yield :meta


  #raiz
    = image_tag 'arvore.png'
    #loading
      = image_tag 'loading.gif'





