// *= require jquery.ui.base
// *= require jquery.ui.datepicker

$menu-width: 210px
$shadow: 7px 7px 5px rgba(34, 25, 25, 0.4)

$vermelho: #CC0000
$amarelo: #FFEE00
$laranja: #FF6633
$verde: #009900

*
  margin: 0px
  padding: 0px

body
  background-image: url("/assets/texture.png")
  font-family: 'Gudea', sans-serif
  font-size: 15px
  min-width: 1035px
  min-height: 420px

#meio
  padding-top: 5px

.capas
  padding-top: 5px
  padding-left: $menu-width
  margin: 0px 10px 10px 10px
  column-width: 190px
  -moz-column-width: 190px
  -webkit-column-width: 190px

#raiz
  position: fixed
  bottom: 0px

.capa
  width: 185px
  background: lightgray
  display: inline-table
  cursor: pointer
  box-shadow: 5px 5px 10px rgba(34, 25, 25, 0.4)
  margin: 0px 2px 15px
  -webkit-column-break-inside: avoid
  -moz-column-break-inside: avoid
  column-break-inside: avoid
  img
    width: 183px
    min-height: 90px
    border: 1px solid darkgrey
    display: none
    opacity: 0.5
  p
    text-shadow: 1px 1px whitesmoke
    color: #333
    text-align: center
    margin: 5px
    padding-bottom: 5px
  &:hover
    background: #BDBDBD

.label
  width: 100%
  height: 3px

.border-preto
  border-bottom: 3px solid black
.border-vermelho
  border-bottom: 3px solid $vermelho
.border-amarelo
  border-bottom: 3px solid $amarelo
.border-laranja
  border-bottom: 3px solid $laranja
.border-verde
  border-bottom: 3px solid $verde

#menu
  display: none
  width: $menu-width
  height: 100%
  opacity: 0.85
  margin-top: 0px
  color: whitesmoke
  position: fixed
  background-color: rgb(54,53,49)
  margin-bottom: 20px
  box-shadow: $shadow
  .logo
    border-bottom: 1px solid gray
    font-size: 20px
    text-align: center
    padding: 10px
  input
    width: 183px
    font-size: 18px
    font-size: 14px

#ano
  padding-right: 8px
  float: right
  font-size: 13px

#filters
  padding: 10px
  padding-bottom: 20px
  border-bottom: 1px solid gray
input
  margin-bottom: 10px
#filter-ano
  padding: 10px
  padding-bottom: 20px
  border-bottom: 1px solid gray

.sub
  color: gray
  font-size: 11px

#meta
  padding: 10px
  font-weight: bold
  text-align: center
  a
    color: white

#info
  display: none
  color: white
  padding-left: $menu-width
  width: 450px
  box-shadow: $shadow
  opacity: 1
  margin: 0px auto
  border: 1px solid gray
  background-color: rgba(54,53,49,0.75)
  margin-top: 50px
  font-size: 16px
  text-shadow: 2px 1px black
  padding: 20px
  p
    padding-left: 5px
    padding-bottom: 15px

.small
  font-size: 13px

#loading
  display: none
  padding: 20px
  text-align: center

.page_info
  width: $menu-width
  text-align: center
  color: white

// overwrite jquery-ui
.ui-widget
  font-size: 13px
  width: 180px
  max-height: 300px
  overflow: auto
.ui-autocomplete
  position: fixed
.ui-widget-header
  background: gray
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
  background: rgb(54,53,49)
  border: 1px solid lightgray
  width: 13px
  cursor: crosshair
.ui-autocomplete-term
  font-weight: bold
